<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msz.dao.MszFloorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.msz.model.MszFloor">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="houseId" property="houseId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, houseId
    </sql>

    <insert id="insertHouseGetId" parameterType="com.msz.model.MszFloor" useGeneratedKeys="true"
            keyProperty="mszFloor.id">
		INSERT INTO msz_floor ( `name`, houseId ) VALUES ( #{mszFloor.name}, #{mszFloor.houseId} )
    </insert>

</mapper>
